<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'table')}">
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card strpied-tabled-with-hover">
                        <div class="card-header ">
                            <h4 class="card-title">Reporte de prestamos</h4>
                            <p class="card-category">Totalidad de prestamos realizados</p>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>Solicitante</th>
                                    <th>Prestador</th>
                                    <th>Material</th>
                                    <th>ISBN</th>
                                    <th>Titulo Material</th>
                                    <th>Fecha Prestamo</th>
                                    <th>Fecha Pactada Devolucion</th>
                                    <th>Fecha Devolucion</th>
                                    <th>Correo Solicitante</th>
                                    <th>Telefono Solicitante</th>
                                </thead>
                                <tbody id = "tbodyPrestamos"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary rounded submit p-3 px-5" style="position:relative; left:40%;" href="/jasper/repprestamos">Descargar</a>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script th:src="@{/js/reporte.js}"></script>  

</body>
